/erp/
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/UIdesign-skills.iml
/.continue/mcpServers/new-mcp-server.yaml
/.continue/mcpServers/new-mcp-server-1.yaml
/.continue/prompts/new-prompt.md
